.contenido-detalles {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduce el espacio entre los elementos */
  padding: 10px; /* Reduce el padding para ocupar menos espacio */
  font-size: 0.9rem; /* Reduce el tamaño de la fuente */
  max-width: 100%; /* Asegura que el contenido no sobresalga del contenedor */
}

.titulo {
  font-size: 1.5rem; /* Reduce el tamaño del título */
  margin: 0;
}

.descripcion {
  font-size: 1rem; /* Reduce el tamaño de la descripción */
  color: #666;
  margin: 0;
}

.precio-container {
  display: flex;
  align-items: baseline;
  gap: 5px; /* Reduce el espacio entre el texto del precio */
}

.precio {
  font-size: 1.5rem; /* Reduce el tamaño del precio */
  color: #030303;
  margin: 0;
}

.botones {
  display: flex;
  gap: 5px; /* Reduce el espacio entre los botones */
  margin-top: 10px; /* Reduce el margen superior */
}

img {
  max-width: 100%;
}

img.imagen-izquierda {
  width: 100px;
  min-width: 100px;
  opacity: 0.7;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  border: 5px solid #e0e0e0;
  border-radius: 5%;
}

img.imagen-izquierda.seleccionada {
  opacity: 1;
  border-color: #000;
}

.izquierda {
  margin-right: 15px;
}

button.carrito, a.comprar {
  font-size: 0.9rem; /* Reduce el tamaño de la fuente de los botones */
  padding: 5px 10px; /* Ajusta el padding interno de los botones */
}

@media (max-width: 768px) {
  .contenido-detalles {
    font-size: 0.8rem; /* Reduce aún más el tamaño de la fuente en pantallas pequeñas */
    padding: 5px; /* Ajusta el padding para pantallas pequeñas */
  }

  .titulo {
    font-size: 1.2rem; /* Ajusta el tamaño del título en pantallas pequeñas */
  }

  .descripcion {
    font-size: 0.9rem; /* Ajusta el tamaño de la descripción en pantallas pequeñas */
  }

  .precio {
    font-size: 1.2rem; /* Ajusta el tamaño del precio en pantallas pequeñas */
  }

  .botones {
    gap: 3px; /* Reduce el espacio entre los botones en pantallas pequeñas */
  }

  button.carrito, a.comprar {
    font-size: 0.8rem; /* Ajusta el tamaño de la fuente de los botones en pantallas pequeñas */
    padding: 3px 8px; /* Ajusta el padding de los botones en pantallas pequeñas */
  }
}
