<mat-card class="producto-card">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div class="izquierda">
        <img *ngFor="let foto of producto.fotos; let i = index" 
             (mouseenter)="seleccionarImagen(i)"
             class="imagen-izquierda"
             [class.seleccionada]="i==indiceSeleccionado"
             [src]="resolverFoto(foto.foto)" alt="Foto">
      </div>
      <div class="imagen-principal">
        <img *ngIf="fotoSeleccionada" [src]="resolverFoto(fotoSeleccionada)" alt="Imagen Principal">
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="detalles">
      <div class="contenido-detalles">
        <h1 class="titulo">{{producto.nombre}}</h1>
        <p class="descripcion">{{producto.descripcion}}</p>
        <div class="precio-container">
          <strong>Precio:</strong>
          <h1 class="precio">{{producto.precio | currency}}</h1>
        </div>
        <mat-chip-list *ngIf="yaExiste">
          <mat-chip color="warn" selected>
            <mat-icon>check</mat-icon>
            En el carrito de compras
          </mat-chip>
        </mat-chip-list>
        <div class="botones">
          <button *ngIf="!yaExiste" (click)="agregarAlCarrito()" class="carrito" mat-raised-button color="accent">
            <mat-icon>add</mat-icon>
            Agregar al carrito
          </button>
          <button *ngIf="yaExiste" (click)="quitarDelCarrito()" class="carrito" mat-raised-button color="warn">
            <mat-icon>delete</mat-icon>
            Quitar del carrito
          </button>
          <a routerLink="/tienda" class="comprar" mat-raised-button color="primary">
            Seguir comprando
          </a>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
